kind: ConfigMap
apiVersion: v1
metadata:
  labels:
    app: prometheus
  name: node-exporter-rules
  namespace: monitor
data:
  node-exporter_rules.yml: |
    groups:
    - name: node-exporter_rules
      rules:
      - alert: NodeExporterDown
        expr: up{job=~"kubernetes-nodes-exporter|nfs-node"} == 0
        for: 1m
        labels:
          severity: high
        annotations:
          summary: "Node {{ $labels.instance }} down"
          description: "The node {{ $labels.instance }} has been down for more than 1 minute."
  
