apiVersion: v1
kind: Service
metadata:
  labels:
    app: cerebro
  name: cerebro
  namespace: logging
spec:
  selector:
    app: cerebro
  type: NodePort
  ports:
  - port: 9000
    protocol: TCP
    targetPort: 9000
